body {
  font-family: sans-serif;
  margin: auto;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #251f38;
}

html {
  scroll-behavior: smooth;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
}

div {
  margin-bottom: 20px;
  margin-top: 20;
  background-color: #2e2a3d;
  width: 100vw;
  padding: 20px;
}

.navbar {
  place-items: center;
  background-color: #fad200;
  border-radius: 5px;
  width: 100vw;
}

.navbar a:hover {
  color: #ffffff;
}

.alert {
  color: red;
}

p,
h1,
h2,
h3 {
  color: #fad200;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 0;
  transition: transform 0.01s ease;
}

p:hover,
h1:hover,
h2:hover,
h3:hover {
  transform: translateY(2px); /* moves element 5px up */
}

h1 {
  margin-bottom: 20px;
}

a {
  color: #38cebf;
  transition: transform 0.01s ease;
}

a:hover {
  color: white;
  transform: translateY(2px); /* moves element 5px up */
}

a:visited {
  color: #38cebf;
}

a:active {
  color: 38cebf;
}

a:visited:hover {
  color: white;
}

.maintitle {
  color: #251f38;
}

.game {
  max-width: 646px;
  margin: 0 auto;
  background-color: #251f38;
  width: 100vw;
  padding: 20px;

  display: flex;
  flex-wrap: wrap; /* allows images to wrap */
  gap: 10px; /* space between images */
}

.screenshotgallery {
  max-width: 969px;
  margin: 0 auto;
  background-color: #251f38;
  width: 100vw;
  padding: 20px;
}

.gametext {
  text-align: left;
}

.navbar a {
  color: #251f38;
  display: inline-block;
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  text-decoration: underline;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
}

.logo-container {
  display: flex;
  justify-content: center; /* centers items horizontally */
  align-items: center; /* centers items vertically if needed */
  flex-wrap: wrap; /* allows images to wrap */
  gap: 10px; /* space between images */

  max-width: 646px;
  margin: 0 auto; /* center container itself */
  background-color: #251f38;
  width: 100vw;
  padding: 20px;
}

.logo-container img {
  width: 300px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.logo-container img:hover {
  transform: scale(1.05);
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.gallery img:hover {
  transform: scale(1.05);
}
